<a href="https://colab.research.google.com/github/IMJAEWAN/python/blob/main/%EA%B3%BC%EC%A0%9C11.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
numlist = [0,0,0,0,0]

numlist[0] = input("숫자 : ")
numlist[1] = input("숫자 : ")
numlist[2] = input("숫자 : ")
numlist[3] = input("숫자 : ")
numlist[4] = input("숫자 : ")

sum = int(numlist[0]) + int(numlist[1]) + int(numlist[2]) + int(numlist[3]) + int(numlist[4])
print("리스트의 합계 :", sum)

숫자 : 10
숫자 : 20
숫자 : 30
숫자 : 0
숫자 : 0
리스트의 합계 : 60

In [7]:
mylist = []

mylist.append("안산")
mylist.append("공고")
mylist.append(3100)
mylist.append(777)

print(mylist)

['안산', '공고', 3100, 777]

In [28]:
import random

numlist = ["중요한건 꺽이지 않는 마음","너 자신을 알라","피할 수 없으면 즐겨라","신은 용기있는 자를 결코 버리지 않는다","내일은 내일의 태양이 뜬다","이 또한 지나가리라"]

rnd_say = random.sample(numlist, 1)
print("오늘의 명언 ==> ", rnd_say)

오늘의 명언 ==>  ['너 자신을 알라']

In [53]:
import random

numlist = ["중요한건 꺽이지 않는 마음","너 자신을 알라","피할 수 없으면 즐겨라","신은 용기있는 자를 결코 버리지 않는다","내일은 내일의 태양이 뜬다","이 또한 지나가리라"]

rnd = random.randint(0,len(numlist)-1)
rnd_say = numlist[rnd]
print("오늘의 명언 ==> ", rnd_say)

오늘의 명언 ==>  너 자신을 알라

In [57]:
import datetime

now = datetime.date.today()
birthday = datetime.date(2005, 12, 1)
age = now - birthday
print(age.days/365)

17.367123287671234

In [62]:
import datetime

now = datetime.date.today()
dday = datetime.date(2023, 11, 16)
dday = dday - now
print(dday.days)

220